{% extends './plantilla.html' %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded">
        <h1>Nuevo Mantenimiento</h1>
        <form action="{% url 'guardarMantenimiento' %}" id="frm_nuevo_mantenimiento" method="post">
            {% csrf_token %}

            <label for="impresora">Impresora(*)</label><br>
            <select required class="form-control" name="impresora" id="impresora">
                <option value="">-- Seleccione una impresora --</option>
                {% for impresora in impresoras %}
                <option value="{{ impresora.id }}">{{ impresora.marca }} - {{ impresora.propietario }}</option>
                {% endfor %}
            </select><br>

            <label for="costo">Costo(*)</label><br>
            <input required class="form-control" type="number" step="0.01" name="costo" id="costo" min="0"><br>

            <label for="detalles">Detalles</label><br>
            <textarea class="form-control" name="detalles" id="detalles" rows="3"></textarea><br>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'mantenimientos' %}">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<script>
    $("#frm_nuevo_mantenimiento").validate({
        rules: {
            impresora: { required: true },
            costo: { required: true, number: true, min: 0 }
        },
        messages: {
            impresora: { required: "Debe seleccionar una impresora" },
            costo: { required: "Debe ingresar el costo", number: "Ingrese un número válido", min: "El costo no puede ser negativo" }
        }
    });
</script>
{% endblock %}
